.notes
{
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    flex-wrap: wrap;
}
.flex_container
{
     display: flex;
    flex-wrap: wrap;
}

.notes_info
{
    display: flex;
    flex-direction: column;
    background-color: #EEC213;
     margin-bottom: 2px;
  
     min-width: 200px;
    color:white;
    border-radius: 10px;
    padding: 20px;
}
.notes button
{
    color:white;
    
    outline: none;
    background: none;
    border: none;
    margin-left: 120px;
    padding-top: 20px;
    cursor: pointer;

   
}


